name: CI

on:
  push:
    branches:
    - main
  pull_request:

env:
  # The NAME makes it easier to copy/paste snippets from other CI configs
  NAME: tree-splicer

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Format
      run: cargo fmt && git diff --exit-code
    - name: Deps
      run: |
        rustup update
        rustup component add clippy
    - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1
    - name: Lint
      run: cargo clippy -- --deny warnings

  static:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Deps
      run: |
        sudo apt-get install -y musl-tools
        rustup target add x86_64-unknown-linux-musl
    - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1
    - run: |
        cargo build \
          --bin ${NAME}-javascript \
          --bin ${NAME}-rust \
          --bin ${NAME}-typescript \
          --locked \
          --release \
          --target=x86_64-unknown-linux-musl

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1
    - run: cargo test --locked --no-run
    - run: cargo test
