name: rust release
on:
  push:
    branches:
    - release*
    tags:
    - v*
  pull_request:
    paths: [".github/workflows/rust-release.yml"]
  workflow_dispatch:

jobs:
  release:
    uses: langston-barrett/gha/.github/workflows/rust-release.yml@2038f7523e4ab93e52eb420a64e95f3b50edbe0a
    secrets:
      crates-io-token: ${{ secrets.CRATES_IO_TOKEN }}
    permissions:
      contents: write